<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farme de som</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon"  href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>


    <header>
        <h1>farme de som</h1>
            <nav>
                <a href="http://127.0.0.1:5000/configuracao/">configuracao</a>
                <a href="http://127.0.0.1:5000/test/">test</a>
            </nav>
             
    </header>
    <main>
        <ul>
            {%for n in range(1, 10)%}
            <li>
                <a href="#">
                    <div class="Testes">
                        <h1 class="nome_teste">teste</h1>
                        <p class="notas_teste">A B C D</p>
                    </div>
                </a>
            </li>
            {%endfor%}
        </ul>
        <a href="#" id="novo_teste_a">
                <div id="novo_teste_div2">
                    <div id="novo_teste_div">
                        <h1 id="novo_nome_teste">novo teste</h1>
                    </div>
                </div>
        </a>
    </main>
    <footer>
        <div>By Raul C.</div>
    </footer>
</body>
<script>

</script>
</html>