<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farme de som</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" type="text/css" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>


    <header>
        <h1>farme de som</h1>
            <nav>
                <a href="http://127.0.0.1:5000/configuracao/">configuracao</a>
                <a href="http://127.0.0.1:5000/test/">test</a>
            </nav>
             
    </header>
    <main>
        <a href="#">
            <div class="Testes">
                <h1 class="nome_teste">teste</h1>
                <p class="notas_teste">A B C D</p>
            </div>
        </a>
        <a href="#">
            <div id="novo_teste">
                <h1 class="nome_teste" id="novo_nome_teste">novo teste</h1>
            </div>
        </a>
    </main>
    <footer>
        <div>By Raul C.</div>
    </footer>
</body>
<script>

</script>
</html>