<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon"  href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>
    <h1>NN</h1>
    <a href="http://127.0.0.1:5000/menu/">main</a>

    <form action="http://127.0.0.1:5000/menu/" method="post">
        
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="nome" id="nome" placeholder="nome" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" name="numero_notas" id="numero_notas" placeholder="numero_notas" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" name="nota" id="nota" placeholder="nota" class="form-control">
        </div>
    </div>
    <div>
        <a href="http://127.0.0.1:5000/menu/nova_nota">nova nota</a>
    </div>
        <div class="col-xs-12">
            
            <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </form>
</body>
</html>